	<div class="outgoing_msg">
	  <div class="sent_msg">
	    <p><%= message.content%></p>
	    <span class="time_date"><%= message.created_at.localtime.strftime('%I:%M %p | %b %e')%> </span></div>
	</div>